h3.txt-align {
    color: #4D4D4D;
    font-size: 1.4rem;
    font-family: unset;
    text-align: center;
}

.styled-select select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 6px;
    width: 283px;
    margin-top: 10px;
    margin-left: 15px;
}

.store-color {
    color: #4D4D4D;
}

select option {
    color: black;
    background: white;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

section.store-div {
    margin-left: 35px;
}